<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Ingredients</title>
</head>
<body>
    <nav th:replace="~{fragments/nav :: navbar('ingredients')}"></nav>

    <main>

        <div class="container" th:object="${ingredient}">
            
            <section class="row">
                <div class="col-12">

                    <h1 th:if="${edit}" class="py-4 mb-2 text-center fw-bold">
                        Edit [[${name}]] ingredient
                    </h1>

                    <h1 th:unless="${edit}" class="py-4 mb-2 text-center fw-bold">
                        Create new ingredient
                    </h1>

                    <div class="row justify-content-center">
                        
                        <form id="ingredient-form" th:action="${edit} ? @{|/ingredients/edit/*{id}|} : @{/ingredients/create}" method="post">

                            <div class="mb-3">
                                <label class="form-label" for="name">Name: </label>
                                <input type="text" id="name" class="form-control" th:field="*{name}" th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="bio">Bio: </label>
                                <textarea name="notes" id="bio" class="form-control" th:field="*{bio}" th:errorClass="is-invalid"></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('bio')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('bio')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3 d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="reset" class="btn btn-warning">Reset all fields</button>
                            </div>
                        </form>

                    </div>

                </div>
            </section>
        
        </div>
    </main>

    <script th:replace="~{fragments/resources :: scripts}"></script>
</body>
</html>