<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizza: [[${pizza.name}]]</title>
</head>
<body>
    <nav></nav>

    <main>
        <nav th:replace="~{fragments/nav :: navbar('pizzas')}"></nav>

        <div class="container" th:object="${pizza}">
            
            <section class="row">
                <div class="col-12">
                    <h1 class="fw-bold mb-3">[[*{name}]]</h1>
                    <h2 class="mb-3">Prezzo: [[*{price / 100}]]&euro;</h2>
                    <hr>
                    
                    <p th:text="*{bio}"></p>

                    <img th:src="*{photoUrl}" th:alt="|*{name} photo|" class="img-fluid">
                </div>
            </section>

            <section class="row">
                <div class="col-12 my-2">
                    <a th:href="@{/pizzas/{id}/discount(id=*{id})}" class="btn btn-primary">Create new discount</a>
                </div>
                <div class="col-12 my-2">
                    <table class="table" th:if="${discounts.size() > 0}">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Start period</th>
                                <th>End period</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="discount : ${discounts}" th:object="${discount}">
                                <td>[[*{id}]]</td>
                                <td> <a th:href="@{|/discounts/*{id}|}">[[*{title}]]</a></td>
                                <td>[[*{startDate}]]</td>
                                <td>[[*{endDate}]]</td>
                                <td class="d-flex justify-content-end gap-3">
                                    <a th:href="@{/discounts/{id}/edit(id=*{id})}" class="btn btn-warning">Edit</a>
                                    <a th:href="@{/discounts/{id}/delete(id=*{id})}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p th:unless="${discounts.size() > 0}">No discounts available at this moment for this pizza...</p>
                </div>
            </section>
        
        </div>
    </main>

    <script th:replace="~{fragments/resources :: scripts}"></script>
</body>
</html>