<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizza: [[${pizza.name}]]</title>
</head>
<body>
    <nav></nav>

    <main>
        <nav th:replace="~{fragments/nav :: navbar('pizzas')}"></nav>

        <div class="container" th:object="${pizza}">
            
            <section class="row">
                <div class="col-12">
                    <h1 class="fw-bold mb-3">[[*{name}]]</h1>
                    <h2 class="mb-3">Prezzo: [[*{price / 100}]]&euro;</h2>
                    <hr>
                    
                    <p th:text="*{bio}"></p>

                    <img th:src="*{photoUrl}" th:alt="|*{name} photo|" class="img-fluid">
                </div>
            </section>

            <section class="row">
                <div class="col-12">
                    <table class="table" th:if="${discounts.size() > 0}">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Start period</th>
                                <th>End period</th>
                                <!-- <th></th>
                                <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="discount : ${discounts}" th:object="${discount}">
                                <td>[[*{id}]]</td>
                                <td> <a th:href="@{|/discounts/*{id}|}">[[*{title}]]</a></td>
                                <td>[[*{startDate}]]</td>
                                <td>[[*{endDate}]]</td>
                                <!-- <td>
                                    <a th:href="@{pizzas/edit/{id}(id=*{id})}" class="btn btn-success btn-sm">Edit</a>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + *{id}">Delete</button>

                                    <div class="modal fade" th:id="'delete-modal-'+ *{id}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting "[[*{id}]]"</h1>
                                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete the <strong>"[[*{name}]]"</strong> pizza?
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>

                                                    <form class="d-inline-block" th:action="@{/pizzas/delete/{id}(id=*{id})}" method="post">
                                                        <button class="btn btn-danger" type="submit">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>

                    <p th:unless="${discounts.size() > 0}">No discounts available at this moment for this pizza...</p>
                </div>
            </section>
        
        </div>
    </main>

    <script th:replace="~{fragments/resources :: scripts}"></script>
</body>
</html>