<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Discount details</title>
</head>
<body>
    <nav></nav>

    <main>
        <nav th:replace="~{fragments/nav :: navbar('pizzas')}"></nav>

        <div class="container" th:object="${discount}">
            
            <section class="row">
                <div class="col-12">
                    <h1 class="fw-bold mb-3">[[*{title}]]</h1>
                    <hr>

                    <p><strong>Start date</strong>: [[*{startDate}]] | <strong>End date</strong>: [[*{endDate}]]</p>
                </div>
            </section>
        
        </div>
    </main>

    <script th:replace="~{fragments/resources :: scripts}"></script>
</body>
</html>